<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mobiusVision.dao.TbBasic.TbBasicCljcxxCar1Mapper" >

    <!--<resultMap id="" type=""-->

    <!--<select id="findTbBasicCljcxxOthersByPlateNumber" parameterType="String" resultMap="TbBasicCljcxxCar1Map">-->
        <!--select tb_basic_cljcxx.*,tb_dictionary_cllx.*,tb_dictionary_clpp.*,-->
        <!--tb_dictionary_rllx.*,tb_dictionary_yldw.*,-->
        <!--tb_dictionary_clgs.*,tb_dictionary_cpys.*,-->
        <!--tb_basic_qy_cdxx.*,tb_dictionary_xzqh.*-->
        <!--from tb_basic_cljcxx,tb_dictionary_cllx,tb_dictionary_clpp,-->
        <!--tb_dictionary_rllx,tb_dictionary_yldw,-->
        <!--tb_dictionary_clgs,tb_dictionary_cpys,-->
        <!--tb_basic_qy_cdxx,tb_dictionary_xzqh-->
        <!--where tb_basic_cljcxx.plate_number='%${value}%',-->
        <!--tb_basic_cljcxx.vehicle_type_code=tb_dictionary_cllx.vehicle_type_code,-->
        <!--tb_basic_cljcxx.vehicle_brand_code=tb_dictionary_clpp.vehicle_brand_code,-->
        <!--tb_basic_cljcxx.fuel_type_code=tb_dictionary_rllx.fuel_type_code,-->
        <!--tb_basic_cljcxx.capacity_unit_code=tb_dictionary_yldw.capacity_unit_code,-->
        <!--tb_basic_cljcxx.vehicle_belong_code=tb_dictionary_clgs.vehicle_belong_code,-->
        <!--tb_basic_cljcxx.plate_color_code=tb_dictionary_cpysplate_color_code,-->
        <!--tb_basic_cljcxx.entity_id=tb_basic_qy_cdxx.entity_id,-->
        <!--tb_basic_cljcxx.admin_code=tb_dictionary_xzqh.admin_code-->
    <!--</select>-->
</mapper>