<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mobiusVision.dao.TbSubject.TbSubjectQyCdwfNandYslTDJMapper" >
<!--年份-->
    <resultMap id="NBaseResultMap" type="com.mobiusVision.pojo.TbSubject.TbSubjectQyCdwfnsl" >
        <id column="tb_subject_qy_cdwfnsl_id" property="tb_subject_qy_cdwfnsl_id" jdbcType="INTEGER" />
        <result column="year" property="year" jdbcType="VARCHAR" />
        <result column="entity_id" property="entity_id" jdbcType="VARCHAR" />
        <result column="drive_event_type_code" property="drive_event_type_code" jdbcType="VARCHAR" />
        <result column="total_illegal_drive" property="total_illegal_drive" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="TbSubjectQyCdwfNslAndTDJ" type="TbSubjectQyCdwfNslTDJ" extends="NBaseResultMap"   >
        <association property="jssjlx" javaType="TbDictionaryJssjlx" >
            <id column="tb_dictionary_jssjlx_id" property="tb_dictionary_jssjlx_id" jdbcType="INTEGER" />
            <result column="drive_event_type_code" property="drive_event_type_code" jdbcType="VARCHAR" />
            <result column="drive_event_type" property="drive_event_type" jdbcType="VARCHAR" />
            <result column="remark" property="remark" jdbcType="VARCHAR" />
        </association>
    </resultMap>
<!--月份-->
    <resultMap id="YBaseResultMap" type="com.mobiusVision.pojo.TbSubject.TbSubjectQyCdwfysl" >
        <id column="tb_subject_qy_cdwfysl_id" property="tb_subject_qy_cdwfysl_id" jdbcType="INTEGER" />
        <result column="year" property="year" jdbcType="VARCHAR" />
        <result column="month" property="month" jdbcType="VARCHAR" />
        <result column="entity_id" property="entity_id" jdbcType="VARCHAR" />
        <result column="drive_event_type_code" property="drive_event_type_code" jdbcType="VARCHAR" />
        <result column="total_illegal_drive" property="total_illegal_drive" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="TbSubjectQyCdwfYslAndTDJ" type="TbSubjectQyCdwfYslTDJ" extends="YBaseResultMap"   >
        <association property="jssjlx" javaType="TbDictionaryJssjlx" >
            <id column="tb_dictionary_jssjlx_id" property="tb_dictionary_jssjlx_id" jdbcType="INTEGER" />
            <result column="drive_event_type_code" property="drive_event_type_code" jdbcType="VARCHAR" />
            <result column="drive_event_type" property="drive_event_type" jdbcType="VARCHAR" />
            <result column="remark" property="remark" jdbcType="VARCHAR" />
        </association>
    </resultMap>
    <!--mapper缓存参数设定-->
    <cache  eviction="LRU" flushInterval="60000"  size="512" readOnly="true"/>
    <!--通过entity_id和year查询TB_SUBJECT_QY_CDWFNSL表和TB_DICTIONARY_JSSJLX表中所有数据-->
    <select id="findListWfNslByEntityIdAndYear" resultMap="TbSubjectQyCdwfNslAndTDJ">
        select t1.*,t2.* from TB_SUBJECT_QY_CDWFNSL t1,TB_DICTIONARY_JSSJLX t2 where t1.entity_id=#{entity_id} and t1.year=#{year} and t1.drive_event_type_code=t2.drive_event_type_code
    </select>

    <!--通过entity_id和year和month查询TTB_SUBJECT_QY_CDGWFSL表和TB_DICTIONARY_JSSJLX表中所有数据-->
    <select id="findAllListWfYslByEntityIdAndYearAndMonth" resultMap="TbSubjectQyCdwfYslAndTDJ">
        select t1.*,t2.* from TB_SUBJECT_QY_CDWFYSL t1,TB_DICTIONARY_JSSJLX t2 where t1.entity_id=#{entity_id} and t1.year=#{year} and t1.month=#{month} and t1.drive_event_type_code=t2.drive_event_type_code
    </select>
</mapper>